USE [master]
GO
/****** Object:  Database [ProjectDB]    Script Date: 29-12-2022 13:20:06 ******/
CREATE DATABASE [ProjectDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectDB', FILENAME = N'C:\Users\rishi.charavada\ProjectDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectDB_log', FILENAME = N'C:\Users\rishi.charavada\ProjectDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectDB]
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 29-12-2022 13:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK](
	[BOOK_ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOK_NAME] [nvarchar](50) NOT NULL,
	[CATEGORY] [varchar](50) NOT NULL,
	[AUTHOR] [nvarchar](50) NOT NULL,
	[STATUS] [varchar](50) NOT NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATE_TIMESTAMP] [datetime] NULL,
	[UPDATED_BY] [nvarchar](50) NULL,
	[UPDATE_TIMESTAMP] [datetime] NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[BOOK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 29-12-2022 13:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[CATEGORY_ID] [int] NOT NULL,
	[CATEGORY_NAME] [varchar](50) NOT NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATE_TIMESTAMP] [datetime] NULL,
	[UPDATED_BY] [nvarchar](50) NULL,
	[UPDATE_TIMESTAMP] [datetime] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Category] UNIQUE NONCLUSTERED 
(
	[CATEGORY_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeleteLogTable]    Script Date: 29-12-2022 13:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeleteLogTable](
	[BOOK_ID] [int] NULL,
	[BOOK_NAME] [nvarchar](50) NULL,
	[CATEGORY] [nvarchar](50) NULL,
	[DELETED_BY] [nvarchar](50) NULL,
	[DELETED_TIMESTAMP] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 29-12-2022 13:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [nvarchar](50) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NULL,
	[LAST_NAME] [nvarchar](50) NULL,
	[GENDER] [varchar](50) NOT NULL,
	[EMAIL_ID] [nvarchar](254) NOT NULL,
	[MOBILE] [nvarchar](10) NOT NULL,
	[PASSWORD] [nvarchar](max) NOT NULL,
	[IS_ACTIVE] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__User__Name] UNIQUE NONCLUSTERED 
(
	[USER_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_Book_Category] FOREIGN KEY([CATEGORY])
REFERENCES [dbo].[CATEGORY] ([CATEGORY_NAME])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_Book_Category]
GO
/****** Object:  StoredProcedure [dbo].[proc_RegisterUser]    Script Date: 29-12-2022 13:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE PROCEDURE [dbo].[proc_RegisterUser]
  @UserName nvarchar(50),
  @Email nvarchar(50),
  @Password nvarchar(50),
  @Gender nvarchar(50),
  @Mobile nvarchar(15)
AS
BEGIN
	insert into [User](
	UserName,
	Email,
	Password,
	Gender,
	Mobile) Values(@UserName,@Email,@Password,@Gender,@Mobile)

END
GO
USE [master]
GO
