<link href="../Content/StyleSheet_Contact.css" rel="stylesheet" />

<section id="contact">


    <h1 class="section-header">Contact</h1>

    <div class="contact-wrapper">

        <!-- Left contact page -->
   


        <!-- Left contact page -->

        <div class="direct-contact-container">

            <ul class="contact-list">
                <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">City, State</span></i></li>

                <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give us a call">(212) 555-2368</a></span></i></li>

                <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send  an email">hitmeup@gmail.com</a></span></i></li>

            </ul>

            

            <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>

        </div>

    </div>

</section>

