@{
    ViewBag.Title = "Home Page";
}
<head>
    <style>
        body {
            background-size: cover; /* <------ */
            background-repeat: no-repeat;
          
            background-image: url('../../Content/image/home-bg.jpg');
        }
    </style>
</head>
<body>
    <div id="main-div" style="padding-top:150px; padding-right:75px; text-align:right;">
        <h1><strong>Welcome to Advanced Library!</strong></h1>
    </div>
    <img style="height: 150px; width: 150px; float: right;margin-right:225px;" src="../../Content/image/logo.jfif" />
</body>